body {
  background-color: #101010;
  font-size: 12px;
}

ul.tree {
  padding-left: 0px;
  list-style-type: none;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
}