body {
  background-color: #101010;
  font-size: 12px;
}

#campaignTree ul {
  list-style-type: none;
  padding-left: 15px;
}

ul.tree {
  padding-left: 0px;
  list-style-type: none;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
}

.ui-layout-pane {
  overflow: hidden !important;
}

.ui-tabs-panel {
  position: relative;
  height: 100%;
}

.scrollableTab {
  height: 100%;
}

.scrollablePane {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: scroll;
  margin-top: 10px;
  padding: 0px 20px 20px 20px;
  height: 80%;
}